.window {
  position: relative;
  height: 600px;
  width: 1000px;

  border-radius: 15px;
  overflow: hidden;

  box-shadow: 0px 2px 4px #000000aa;
  .slider {
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 0%;
    top: 0%;

    height: 100%;
    width: 200%;

    .content0,
    .content1 {
      position: absolute;
      height: 100%;
      width: 50%;

      /* 超出的部分隐藏 */
      overflow: hidden;
      .elemt0,
      .elemt1 {
        position: absolute;
        left: 0%;

        height: 100%;
        width: 100%;
      }
    }
    .slot0 {
      box-shadow: 0px 2px 4px #000000aa;
    }
  }
}
