<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div></div>
    <div></div>
    <style>
        
        
    </style>
    <div>
        <div id="page"></div>
        <!-- /<%= attr('id', '#') %><%= attr('class', '.') %> -->
        <div id="id"></div>
        <!-- /<%= attr('id', '#') %><%= attr('class', '.') %> -->
        <div id="id" class="class"></div>
        <!-- /<%= attr('id', '#') %><%= attr('class', '.') %> -->
        <div class="dfdk"></div>
        <!-- /<%= attr('id', '#') %><%= attr('class', '.') %> -->
        <ijfsdk id="jfkdfk"></ijfsdk>
        <!-- /<%= attr('id', '#') %><%= attr('class', '.') %> -->
        <kfdkf class="xkdfjklew"></kfdkf>
        <dfdkf class="dfjdklsf"></dfdkf>
        <dkfdj id="dfkdf"></dkfdj>
        <dfdkfd class="fjdkf"></dfdkfd>
        <div class="jkejrk"></div>
        <div class="class"></div>
        <div class="" id="ids"></div>
        <!-- /#ids -->
        <div class="window"></div>
        <div>
            <fkdf></fkdf>
        </div>
        <div>
            <tab><div class="dd"></div>
                <div class="ddd" id="fkdf"></div>
                <!-- /#fkdf.ddd -->
            <!-- /.dd --></tab>
        </div>
        <!-- /.window -->
        <!-- /.class -->
        <!-- /.jkejrk -->
        <!-- /.fjdkf -->
        fkdjfkldjfkd
        fkdjfkldjfkd
        <!-- /<%= attr('id', '#') %><%= attr('class', '.') %> -->
    </div>
</body>
</html>